@tailwind base;
@tailwind components;
@tailwind utilities;
.card {
  width: 33.3%;
  height: 480px;
  opacity: 1;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out 0.1s, filter 0.3s ease-in-out;
  filter: blur(0); /* Initially, no blur */
}


/* Apply the hover effects */
.card.hovered {
  width: 66.6%;
  opacity: 1;
}

/* When any card is hovered, blur the non-hovered cards */
.animation-container:hover .card:not(.hovered) {
  filter: blur(2px);
}

.text-details {
  display: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  margin-top: 0.5rem;
}

.text-details.hovered {
  display: block;
}
