@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation.css */
.card {
  width: 33.3%;
  height: 480px;
  opacity: 1;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out 0.1s; /* Add opacity transition */
}


.card.hovered {
  width: 66.6%;
  opacity: 0.8; /* Adjust opacity for a smoother effect */
}



.text-details{
  display: none;
}

.text-details.hovered {
  display: block;

  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: left;
  margin-top: 0.5rem;

}